.Happy {
    margin: 10px 0px 10px 300px;
}
.Angry {
    margin: 10px 10px;
}
.Sad {
    margin: 10px 10px;
}
.Joy {
    margin: 10px 10px;
}
.Title {
    margin: 10px 0px 10px 300px;
}
.Body {
    margin: 10px 0px 10px 300px;
}